@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
}

.profilePic {
    background-image: url('https://i.pinimg.com/736x/d7/80/c3/d780c35e99fd92d0b00dbece45a2644e.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
