@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

.profilePic {
  background-image: url("https://i.pinimg.com/736x/d7/80/c3/d780c35e99fd92d0b00dbece45a2644e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detailList > div {
  @apply flex items-start justify-between ;
}

.detailList h3 {
  @apply font-semibold text-lg text-slate-500;
}

.gridView {
  @apply grid grid-cols-2 justify-start gap-4;
}

.myBlur {
  background: #2A7B9B;
background: linear-gradient(90deg, #2a7b9b00 0%, #ffffff 70%);
}

.itemDetailNav p {
  @apply text-slate-400 text-xl pb-[2px];

  &.active {
    @apply border-b-4 text-slate-600  border-b-mm-orange;
  }
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-x-center {
  display: flex;
  justify-content: center;
}
.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-x-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
