.FoMBtn1 {
    border-top: solid #6B3B49;
    border-left: solid #6B3B49;
    border-bottom: solid #401F28;
    border-right: solid #401F28;
    border-width: 3px;
    @apply bg-[#E39AAE] hover:bg-[#F9EDF7] rounded-md w-12 h-12 shadow-md;

    img.special {
        width: 24px;
    }
    img.cookingPoticon {
        width: 34px;
        margin-top: 3px;
    }
    img {
        width: 30px;
    }

}